@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@400;700&family=Oswald&family=Raleway:ital,wght@0,400;1,200&family=Roboto:ital,wght@1,300&display=swap');

@media only screen and (max-width: 787px) {
    .header {
		position: relative;
		height: 280px;

	}


	.menu-topo ul li a {
		display:flex;
		float: right;
		padding: 5px;
		
		width: 200px;


	}

	.header img {
		margin-left: 100px;
		margin-bottom: 20px;

	}

    .banner h1 {
		margin-top: 110px;

	}

	.botao {
		font-size: 20px;

	}

	.banner {
		width: 100%;
		height: 574px;
		background: url(../img/banner.png) no-repeat center;
		background-size: cover;
		text-align: center;
	}

    .aviso {
		height: 155px;
		text-align: center;
    }

    .selos {
		height: 1115px;
	}

    .sobre{
		height: 795px;
	}

	.sobre h3 {
		text-align: center;
		font-size: 19px;
	}

    .rodape {
		height: 95px;
	}

}